#!/bin/bash

set -eufo pipefail

install_homebrew() {
  if command -v brew >/dev/null 2>&1; then
    echo "Homebrew already installed"
    return 0
  fi

  echo "Installing Homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
}

{{ $brews := list
    "age"
    "bat"
    "btop"
    "coreutils"
    "curl"
    "dockutil"
    "eza"
    "fd"
    "fzf"
    "gdu"
    "gh"
    "git"
    "git-lfs"
    "jless"
    "ripgrep"
    "shellcheck"
    "tmux"
    "unzip"
    "uv"
    "wget"
    "xz"
    "zip" -}}
{{ $casks := list
  "1password"
  "1password-cli"
  "jandedobbeleer/oh-my-posh/oh-my-posh"
  "visual-studio-code" -}}

# Ensure Homebrew is installed
install_homebrew

# Ensure Homebrew runs as the correct user
if command -v brew >/dev/null; then
  BREW_PATH=$(command -v brew)

  if [ -n "$BREW_PATH" ] && [ -f "$BREW_PATH" ]; then
    eval "$($BREW_PATH shellenv)"

    BREW_PREFIX=$($BREW_PATH --prefix)
    BREW_USER=$(stat -f %Su "$BREW_PREFIX")

    if [ -n "$BREW_PREFIX" ] && [ "$BREW_USER" != "$USER" ]; then
      brew() {
        echo "Running brew as $BREW_USER"
        sudo -Hu "$BREW_USER" "$BREW_PATH" "$@";
      }
    fi
  fi
fi

# Create Brewfile
cat <<EOF > "$HOME/Brewfile"
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

# Install packages
brew bundle --file="$HOME/Brewfile"