[user]
	name = Gerard Balaoro
	email = gerardbalaoro@gmail.com
[core]
	editor = code --wait
{{- if eq .chezmoi.os "windows" }}
	fileMode = false
{{- end }}
[alias]
	cm = commit
	ca = commit --amend
	cane = commit --amend --no-edit
	rsu = reset @{u}
	rbi = rebase -i
	rbc = rebase --continue
	rba = rebase --abort
	co = checkout
	st = status
	br = branch
	lo = log --oneline --graph --decorate
	stu = stash --include-untracked
	stp = stash pop
{{- if eq .chezmoi.os "linux" }}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- end }}
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{- end }}
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true