{{- if eq .chezmoi.os "darwin" -}}
Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519

{{ end -}}
Host github.com
  User git

Host github.com
  User git

Host lab
  HostName lab.sprbrv.com
  User gerard

{{- if eq .chezmoi.os "windows" }}
Host wsl
  HostName 127.0.0.1
  Port 23
  User gerard
{{- end }}
